body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

form{
  display: flex;
  flex-direction: column;
  max-width: 200px;
  margin: auto;
}

input,button{
  margin-top: 1rem;
}

#root {
	display: flex;
	flex-direction: column;
}

.card-form {
	min-width: 500px;
	align-self: center;
	justify-self: center;
}

.card-form img {
	margin: 1rem auto;
}

.card img {
	cursor: pointer;
}

.recipe-details {
	max-width: 500px;
	align-self: center;
	margin-top: 2rem !important;
}

.ui.item:first-child {
	margin-top: 2rem !important;
}

.recipe-details+button {
	max-width: 100px;
	align-self: center;
}